SET FOREIGN_KEY_CHECKS=0;
-- ----------------------------
-- Table structure for npc_monstersay
-- ----------------------------
CREATE TABLE `npc_monstersay` (
  `entry` int(11) NOT NULL,
  `event` int(11) NOT NULL,
  `chance` float NOT NULL,
  `language` int(11) NOT NULL,
  `type` int(11) NOT NULL,
  `monstername` longtext,
  `text0` longtext,
  `text1` longtext,
  `text2` longtext,
  `text3` longtext,
  `text4` longtext
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- ----------------------------
-- Records 
-- ----------------------------
INSERT INTO `npc_monstersay` VALUES ('16584', '0', '50', '1', '11', '경비대 사령관 크룬크', '내 주먹이 너의 뒷통수를 칠때 내가 경고하지 않았다고 말하지마. 마치 고향에 온것같군 , 시험의 골짜기에 돌아온것 같다.\' \'넌 왜 이곳이 지옥의 불이라고 불리는지 알게될거다, 비열한 녀석.\' \'이곳은 탁아소가 아니다, 피언. 빨리움직여!\' \'피언, 너보단 고블린이 일을 더 잘하겟군! 돼지꼬리를 가진 어린 여자 고블린 말이야! 어서 일해, 일해, 일하라고! ', null, null, null, null);
INSERT INTO `npc_monstersay` VALUES ('19257', '0', '50', '1', '11', '비전술사 토르셀도리', '온다! 그들을 살려두지마라! 불을 향해라! 지금,지금,지금! , , , ', null, null, null, null);
INSERT INTO `npc_monstersay` VALUES ('16576', '0', '50', '1', '11', '대군주 훈 메임피스트', '전쟁의왕을위하여! 호드를위하여! , , , ', null, null, null, null);
